* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 165);
}


.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 4vw;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 51%;
    color: white;
    font-size: 35px;
    cursor: pointer;
}